#PyTorch with CUDA
torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu128 #Specifically CUDA 12.8 for 4080 Super

# HuggingFace ecosystem
transformers
datasets
accelerate
tokenizers
huggingface_hub[cli]

# Optional utilities
scipy
